/* ** MINIFY ALL STYLESHEETS BEFORE PRODUCTION **
 |-------------------
 | CONTENTS
 |-------------------
 | =Sass/Bourbon Config, =Clear, =Skeleton,
 | =Body, =Header, =Footer, =Hero, =Paragraph,
 | =Headings, =Text Elements, =Links, =List
 | =Table, =Search Form, =Images, =General Classes,
 | =Loop Posts, =Home, =Sidebar, =WordPress Core
 |-------------------
 */
/*
 |--------------
 | =Sass/Bourbon Config
 |--------------
 */
/** Bourbon ***/
/** Colors **/
/** Gradients **/
.search-submit, .button-gold, .progress .tray .bar {
  background-image: -webkit-linear-gradient(top, #CFB87C, #B09C69);
  background-image: linear-gradient(to bottom, #CFB87C, #B09C69); }

.button-red, .emergency-icon, .menu .menu-item:last-child a:before {
  background-image: -webkit-linear-gradient(top, #B33335, #8A2C2C);
  background-image: linear-gradient(to bottom, #B33335, #8A2C2C); }

/** Spacing **/
/** Search Input apperance **/
/*
 |--------------
 | =Clear
 |--------------
 */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: 0 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

hr {
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

/*
 |--------------
 | =Skeleton
 |--------------
 */
.wrapper {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 0 2em; }

.module {
  padding: 0.66667em 1em;
  margin-bottom: 1em;
  background-color: #E6E6E6; }

.grid {
  margin: 0 0 2em 0; }
  .grid:after {
    content: '';
    clear: both;
    display: table; }
  .grid > [class*='col-'] {
    float: left;
    padding-right: 2em; }
    .grid > [class*='col-']:last-child, .grid > [class*='col-']:last-of-type {
      padding-right: 0; }
    @media screen and (max-width: 50em) {
      .block-800 .grid > [class*='col-'] {
        width: 100%;
        padding-right: 0;
        margin-bottom: 1em; } }
    @media screen and (max-width: 46em) {
      .grid > [class*='col-'] {
        float: none;
        width: 100%;
        padding-right: 0;
        margin-bottom: 1em; } }

.col-1-8 {
  width: 12.5%; }

.col-1-6 {
  width: 16.667%; }

.col-1-5 {
  width: 20%; }

.col-1-4 {
  width: 25%; }

.col-1-3 {
  width: 33.33%; }

.col-1-2 {
  width: 50%; }

.col-2-3 {
  width: 66.66%; }

.col-3-4 {
  width: 75%; }

.left {
  float: left; }

.right {
  float: right;
  text-align: right; }

/*
 |--------------
 | =Body
 |--------------
 */
body {
  font: normal 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif; }
  @media screen and (max-width: 40em) {
    body {
      font-size: 14px; } }

/*
 |--------------
 | =Header
 |--------------
 */
.header {
  margin-bottom: 0;
  padding: 1.42857em 1.42857em 1em;
  background: #000;
  color: #FFF; }

.header-banner {
  width: 100%;
  max-width: 500px; }
  @media screen and (max-width: 50em) {
    .header-banner {
      float: none;
      margin-bottom: 1.5em; } }

.cu-logo {
  width: 70px;
  height: auto;
  margin-right: 1em; }

.site-title {
  margin: 0.33333em 0 0;
  font-size: 1.8em;
  font-weight: 400; }

.site-desc {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase; }

.site-title, .site-desc {
  color: #FFF; }

.menu {
  margin-bottom: 1em;
  list-style: none;
  background: rgba(0, 0, 0, 0.5);
  position: relative; }
  @media screen and (max-width: 62.5em) {
    .menu {
      padding: 5px 1.42857em; }
      .menu:after {
        content: "";
        display: table;
        clear: both; }
      .menu .right {
        width: 100%;
        color: #FFF; }
        .menu .right span {
          display: inline-block; }
      .menu .touch-nav {
        display: inline-block;
        -webkit-appearance: menulist-button;
        -moz-appearance: menulist-button;
        appearance: menulist-button;
        margin-left: 5px;
        font-size: 1.1em; } }
  .menu .menu-item {
    display: inline-block;
    -webkit-transition: background 0.2s;
    transition: background 0.2s; }
    .menu .menu-item:hover {
      background: #000; }
    @media screen and (min-width: 62.5em) {
      .menu .menu-item:last-child {
        background: #000;
        position: absolute;
        right: 0;
        top: 0; }
        .menu .menu-item:last-child a:before {
          content: '!';
          float: left;
          width: 22px !important;
          height: 22px !important; } }
    @media screen and (max-width: 50em) {
      .menu .menu-item {
        display: none; } }
  .menu a {
    display: block;
    padding: 0.5em 1em;
    color: #FFF;
    text-decoration: none; }
    .menu a:hover {
      color: #FFF; }

/*
 |--------------
 | =Footer
 |--------------
 */
.footer {
  padding: 2em 0 1em;
  background: #000;
  color: #FFF; }
  .footer h6 {
    margin: 0 0 1em;
    font-size: 1em;
    font-weight: normal;
    color: #CFB87C; }
  .footer p {
    font-size: 0.75em; }
  .footer a {
    color: #CFB87C;
    text-decoration: underline; }
    .footer a:hover {
      color: #CFB87C; }
  .footer .be-boulder {
    font-weight: 800; }
    .footer .be-boulder span {
      color: #CFB87C;
      font-size: 1em; }
    .footer .be-boulder p {
      margin-bottom: 0.25em;
      font-size: 3.45em;
      line-height: 1; }
  @media screen and (max-width: 40em) {
    .footer .left, .footer .right {
      float: none;
      margin: 0 auto 2em;
      text-align: center; } }

/*
 |--------------
 | =Hero
 |--------------
 */
.hero {
  min-height: 288px;
  background: #000 no-repeat center center;
  background-size: cover;
  position: relative; }
  .hero .cta-search {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: right; }
    .home .hero .cta-search {
      text-align: left;
      position: static; }
    .hero .cta-search .module {
      margin-bottom: 0;
      padding-right: 1em;
      background: rgba(0, 0, 0, 0.7);
      color: #FFF; }
      .home .hero .cta-search .module {
        margin: 4em 0;
        padding: 2em; }
    @media screen and (max-width: 50em) {
      .hero .cta-search {
        text-align: left; }
        .hero .cta-search .cta-header {
          display: block; } }
  .hero .cta-header {
    margin-right: 0.5em;
    font-size: 1.5em;
    color: #FFF;
    vertical-align: bottom; }
    .home .hero .cta-header {
      display: block;
      margin: 0.5em 0;
      font-size: 3em;
      font-weight: normal; }
  @media screen and (max-width: 60em) {
    .home .hero .col-1-2 {
      width: 100%;
      max-width: 630px; } }

/*
 |--------------
 | =Paragraph
 |--------------
 */
p {
  margin-bottom: 1em; }

/*
 |--------------
 | =Headings
 |--------------
 */
h1, h2, h3, h4 {
  margin-bottom: 0.5em;
  font-weight: normal; }

h1 {
  color: #000;
  font-size: 3em; }

h2 {
  color: #CFB87C;
  font-size: 2.25em; }

h3 {
  color: #565A5C;
  font-size: 1.5em; }

h4 {
  margin-bottom: 0.75em;
  color: #000;
  font-size: 1.375em;
  line-height: 1; }
  .module h4 {
    color: #565A5C; }
  h4 a {
    text-decoration: none; }
    h4 a:hover {
      color: #CFB87C; }

/*
 |--------------
 | =Text Elements
 |--------------
 */
label {
  display: block; }
  label span {
    font-size: 0.9em; }
    .sidebar label span {
      display: block;
      margin-bottom: 0.25em;
      color: #565A5C; }
  label input[type="checkbox"] + span {
    display: inline-block;
    margin-left: 0.25em; }
  .sidebar label {
    margin: 1em 0 0; }

input[type="text"], select, textarea {
  width: 100%;
  border: 1px solid #565A5C; }

input[type="text"], select {
  max-width: 247px; }

input[type="text"], textarea {
  padding: 0.25em 0.5em; }

textarea {
  min-height: 100px;
  resize: vertical; }

button {
  border: 0; }

form {
  margin: 2em auto; }
  form .grid {
    margin-bottom: 0.75em; }

/*
 |--------------
 | =Links
 |--------------
 */
a {
  color: #565A5C;
  text-decoration: underline; }
  a:hover {
    color: #000; }

/*
 |--------------
 | =List
 |--------------
 */
/*
 |--------------
 | =Table
 |--------------
 */
/*
 |--------------
 | =Search Form
 |--------------
 */
input.search-input {
  display: inline-block;
  max-width: 9999px;
  margin: 5px 0 0;
  border: 0;
  padding: 0.25em 0.5em; }
  .cu-search input.search-input {
    height: 28px;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    font-size: 1em; }
  .hero input.search-input {
    font-size: 1em;
    width: auto;
    height: 28px; }
    .home .hero input.search-input {
      width: -webkit-calc(100% - 90px);
      width: calc(100% - 90px);
      font-size: 2em;
      height: 55px; }

.search-submit {
  display: inline-block;
  border: 0;
  margin: 5px 0 0 -5px; }
  .search-submit:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../img/search.svg');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat; }
    .home .hero .search-submit:after {
      background-size: 70%;
      background-position: center 10px; }
  .cu-search .search-submit {
    width: 28px;
    height: 28px; }
  .hero .search-submit {
    width: 28px;
    height: 28px; }
    .home .hero .search-submit {
      width: 55px;
      height: 55px; }

.search-submit, .search-input {
  vertical-align: middle; }

.cu-search {
  max-width: 265px;
  padding: 0.5em 0.66667em;
  border-radius: 0.66667em;
  background: #333;
  text-align: left; }
  .cu-search a {
    display: inline-block;
    font-size: 0.75em;
    color: #FFF;
    text-decoration: none; }
    .cu-search a:hover {
      text-decoration: underline; }
  @media screen and (max-width: 50em) {
    .cu-search {
      display: none; } }

/*
 |--------------
 | =Images
 |--------------
 */
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1em; }

/*
 |--------------
 | =General Classes
 |--------------
 */
[class*='button-'] {
  display: inline-block;
  margin: 0 0 0.25em;
  padding: 0.5em 1em;
  color: #FFF;
  text-decoration: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }
  [class*='button-']:hover {
    color: #FFF; }

.button-gold:hover {
  background-size: 200%; }

.button-red:hover {
  background-size: 200%; }

.emergency-icon, .menu .menu-item:last-child a:before {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 0.5em;
  border-radius: 50%;
  text-align: center; }
  .emergency-icon:after {
    content: '!';
    color: #FFF;
    font-size: 1.2em; }

.current {
  color: #CFB87C; }
  .menu .current {
    color: #FFF; }
    .menu .current a {
      background: #000; }

.hide {
  display: none; }

.breadcrumbs a:last-child {
  color: #CFB87C; }

/*
 |--------------
 | =Loop Posts
 |--------------
 */
.content {
  margin: 2em auto 4em; }

.main {
  max-width: 700px; }
  .training .main {
    max-width: 100%; }

.home-loop, .page-loop {
  list-style: none; }
  .home-loop .home-loop-post, .home-loop .page-loop {
    display: block;
    margin: 1em 0 2em; }
    .home-loop .home-loop-post:last-child, .home-loop .page-loop {
      margin-bottom: 0; }
  .home-loop .post-title, .home-loop .page-loop {
    display: block;
    font-size: 1.1em;
    margin-bottom: 0.5em; }

.page-loop {
  margin-bottom: 2em; }
  .page-loop .page-loop-post {
    margin-top: 4em; }
    .page-loop .page-loop-post:after {
      content: "";
      display: table;
      clear: both; }
    .page-loop .page-loop-post .grid {
      margin-bottom: 0.25em; }

.toc-list {
  list-style: upper-roman outside none;
  margin-left: 1em; }
  .toc-list ol {
    list-style-type: upper-alpha;
    margin: 1em 0 1em 1em; }
    .toc-list ol ol {
      list-style-type: decimal; }
  .toc-list li {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    line-height: 1.2;
    text-transform: capitalize; }

.resource-main h1 {
  margin-top: 1em;
  color: #565A5C;
  font-size: 1.5em; }
.resource-main h2, .resource-main h3 {
  margin-bottom: 1em;
  color: #565A5C;
  font-size: 1em;
  text-transform: uppercase; }
.resource-main h3 {
  font-weight: bold;
  text-transform: none; }
.resource-main ol, .resource-main ul {
  list-style-position: inside; }
.resource-main ol {
  list-style-type: lower-alpha; }
  .resource-main ol li {
    margin-bottom: 1em; }
    .resource-main ol li:before {
      content: '';
      display: inline-block;
      width: 10px; }

label[for="sorting"] {
  margin-bottom: 2em; }

.resources-list .grid {
  margin-bottom: 0; }
  .resources-list .grid:nth-of-type(even) {
    background: #E6E6E6; }
.resources-list [class*="col-"] {
  padding: 0.66667em 1em; }

.question-list {
  list-style-position: inside; }

.question-single .prompt {
  max-width: 500px; }
.question-single .responses {
  list-style: lower-alpha inside none;
  margin: 0 0 1em 1em; }
  .question-single .responses li {
    margin-bottom: 0.5em; }
  .question-single .responses input {
    margin: 0 0.5em; }

.progress .tray {
  width: 100%;
  height: 25px;
  margin: 1em 0;
  background: #FFF; }
  .progress .tray .bar {
    display: inline-block;
    width: 0;
    height: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
.progress .count {
  text-align: center;
  color: #565A5C;
  font-style: italic; }

/*
 |--------------
 | =Home
 |--------------
 */
@media screen and (max-width: 62.5em) {
  body.home .sub-cta-home {
    width: 100%; }
  body.home .emergency-home {
    display: none; } }

/*
 |--------------
 | =Sidebar
 |--------------
 */
.sidebar {
  min-width: 240px; }
  @media screen and (max-width: 49.06em) {
    .sidebar {
      min-width: 200px; } }
  @media screen and (max-width: 41.88em) {
    .sidebar {
      min-width: 0; } }
  .sidebar .module {
    padding: 1em 1em 0.5em; }

/*
 |--------------
 | =WordPress Core
 |--------------
 */
/* =WordPress Core -- Last updated 5/28/14
/* http://codex.wordpress.org/CSS#WordPress_Generated_Classes
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }
